<main class="from">
  <h1>to way data binding</h1>
  <div class="overview">
  <form (ngSubmit)="onSubmit()">
    <input type="text" name="name" [(ngModel)]="name" placeholder="name" />
    <input type="text" name="email" [(ngModel)]="email" placeholder="email" />
    <textarea
      class="messgae"
      [(ngModel)]="message"
      name="message"
      placeholder="type messgae..."
    ></textarea>
    <button type="submit">submit</button>
  </form>
  <div class="stat">
  <table class="styled-table">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>email</th>
        <th>message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let msg of messages;let i = index">
        <td>{{i + 1}}</td>
        <td>{{msg.name}}</td>
        <td>{{msg.email}}</td>
        <td>{{msg.message}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
  <div class="container" *ngIf="isSubmitted">
    <div class="cards">
      <app-message-detials
        *ngFor="let msg of messages; let i = index"
        [message]="msg"
        [index]="i"
        (delete)="deleteCard($event)"
      ></app-message-detials>
    </div>
  </div>
</main>
